
body{
    padding: 0px;
}

.offer-list{
  list-style: none;  
}

.offer-card{
    width: 18rem;
}

.text-offer{
    height: 11rem;

}

.bc-blue{
  background-color: #0071bc;
}

.bc-yellow{
  background-color: #fcae18;
  border: #fcae18;
}
.txt-white{
  color: white;
  font-family: 'Ubuntu';
}
.txt-b-white{
  color: white;
  font-family: 'Ubuntu';
  font-weight: bold;
}
.txt-blue{
  color:#0071bc;
  font-family: 'Ubuntu';
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}
.login-section{
  background-color:#e2e2e2
}
.btn:focus{
  box-shadow: none;
}
.btn-blue{
  background-color: #0071bc;
  border: #0071bc;
}
.btn-blue:hover{
  color: white;
}
.btn-yellow{
  background-color: #fcae18;
  border: #fcae18;
}
.btn:hover{
  color: white;
}
.btn-white{
  background-color: white;
  font-family: 'Ubuntu'; 
  border: 1px solid #fcae18;
  color: #fcae18;
}
.btn-icon{
  background-color: transparent;
  border: none;
}
.login-form{
  border: 2px solid #0071bc;
}
.face-icon{
 color: #0071bc;
 font-size: 2rem;
}
.gmail-icon{
 color:#d74939;
 font-size: 2rem;
}
.menu-icon{
  color: #fcae18;
}
.search-form{
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid  #0071bc;
  font-family: 'Ubuntu';  
}
.custom-select:focus{
  box-shadow: none;
}

.offer-logo{
height: 10rem;
}

.card-flag{
  height: 2em;
}

.scroll-card {
  max-height: 15em;
  overflow-y: auto;
}
.txt-s-blue{
  font-size: 0.8rem;
}